<div *ngIf="!Efforts" class="spinner-container">
    <div class="spinner"></div>
</div>

<div class="list-page">
    <h4 class="breadcrumb">Management / Efforts</h4>

    <div class="mat-elevation-z8">
        <mat-selection-list [multiple]="false">
            <mat-list-option *ngFor="let Effort of Efforts" (click)="onDelete(Effort.Id)">
                <mat-card>
                    <div *ngIf="Effort?.Kind.Name == Start" class="list-option-image list-start-image"
                        aria-label="Status"></div>
                    <div *ngIf="Effort?.Kind.Name == Stop" class="list-option-image list-stop-image"
                        aria-label="Status"></div>
                    <div *ngIf="Effort?.Kind.Name == Pause" class="list-option-image list-pause-image"
                        aria-label="Status"></div>
                    <div *ngIf="Effort?.Kind.Name == Resume" class="list-option-image list-resume-image"
                        aria-label="Status"></div>
                    <div>
                        <span class="effort-status">
                            {{Effort?.Start | date: 'MMM d, y'}}
                        </span>
                        <span class="effort-status">
                            {{Effort?.Start | date: 'h:mm a'}}
                        </span>
                    </div>
                    <div>
                        <span class="effort-status">
                            {{Effort?.Finish | date: 'MMM d, y'}}
                        </span>
                        <span class="effort-status">
                            {{Effort?.Finish | date: 'h:mm a'}}
                        </span>
                    </div>
                </mat-card>
            </mat-list-option>
        </mat-selection-list>

    </div>
</div>