<footer>
    <nav *ngIf="display()">
        <div class="container">
            <div>
                <span class="nav-menu-current-status">
                    {{Effort?.Current?.Start | date: 'MMM d, y'}}
                </span>
                <span class="nav-menu-current-status">
                    {{Effort?.Current?.Start | date: 'h:mm a'}}
                </span>
            </div>
            <ul>
                <li>
                    <button mat-button class="nav-menu-option-image nav-menu-start-image" (click)="Start()"
                        aria-label="Start"></button>
                </li>
                <li>
                    <button mat-button class="nav-menu-option-image nav-menu-stop-image" (click)="Stop()"
                        aria-label="Stop"></button>
                </li>
                <li>
                    <button mat-button class="nav-menu-option-image nav-menu-pause-image" (click)="Pause()"
                        aria-label="Pause"></button>
                </li>
                <li>
                    <button mat-button class="nav-menu-option-image nav-menu-resume-image" (click)="Resume()"
                        aria-label="Resume"></button>
                </li>
            </ul>
        </div>
    </nav>
</footer>