<footer>
    <nav *ngIf="display()">
        <div class="container">
            <ul>
                <li>
                    <button (click) ="Start()">Start</button>
                </li>
                <li>
                    <button (click) ="Stop()">Stop</button>
                </li>
                <li>
                    <button (click) ="Pause()">Pause</button>
                </li>
                <li>
                    <button (click) ="Resume()">Resume</button>
                </li>
            </ul>
        </div>
    </nav>
</footer>>